.cMenu,
.cMenu_item,
.cMenu_item-clickable,
.cMenu_item-unclickable {
    box-sizing: border-box;
    user-select: none;
    -webkit-app-region: no-drag;
}

.cMenu_sub {
    padding: 4px 0;
    background-color: var(--sumiStudioCore-color-surface-container-lowest);
    border-radius: 6px;
    box-shadow: 0 2px 4px var(--sumiStudioCore-color-shadow-20), 0 0 6px var(--sumiStudioCore-color-shadow-5);
    position: fixed;
}

.cMenu_sub_body {
    display: block;
}

.cMenu_sub_item {
    margin: 0 4px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 28px;
    list-style: none;
    border-bottom: 1px solid #00000000;
    outline: 0;
    display: flex;
    align-items: center;
    transition: var(--sumiStudio-transition-time-medium);
}

.cMenu_sub_item_left {
    flex: 1;
}

.cMenu_sub_item_alt {
    display: flex;
}

.cMenu_sub_item_alt_text.underline {
    text-decoration: underline;
}

.cMenu_sub_item .cMenu_sub_item_icon {
    margin-right: 8px;
    width: 13px;
}

.cMenu_sub_item .cMenu_sub_item_label {
    flex: 1;
}

.cMenu_sub_item .cMenu_sub_item_expand_icon {
    margin-left: 16px;
    width: 10px;
    font-size: 6px;
}

.cMenu_sub_item-available {
    color: var(--sumiStudioCore-color-secondary);
    cursor: pointer;
}

.cMenu_sub_item-focus {
    color: var(--sumiStudioCore-color-primary-fixed);
    background-color: var(--sumiStudioCore-color-secondary-on);
}

.cMenu_sub_item-disabled {
    color: var(--sumiStudioCore-color-surface-container);
    cursor: not-allowed;
}

.cMenu_sub_item_expand {
    color: var(--sumiStudioCore-color-primary-fixed);
    background-color: var(--sumiStudioCore-color-secondary-on);
}

.cMenu_sub_item_divided {
    margin: 4px 0px;
    height: 1px;
    flex: 1;
    background-color: var(--sumiStudioCore-color-surface-container-low);
}

.cMenu_sub_item_divided_placeholder {
    width: 32px;
}

.cMenu_sub_item_arrow {
    margin-right: 4px;
    width: 14px;
    height: 14px;
}

.cMenu_sub_item_arrow > svg > path {
    fill: var(--sumiStudioCore-color-surface-variant-on);
}